/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Chango&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-color: #a6567b;
}

html {
  background-color: antiquewhite;
}

/* Hero Section */
.hero-section {
  background: url(../images/herophoto.webp);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section2 {
  background: url(../images/herotwo.webp);
  background-size: cover;
  background-position: 50% 50%;
  height: 60vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.hero-section h1 {
  font-weight: 700;
  font-family: "Chango";
  color: #a6567b;
}

.hero-section .lead {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Josefin Sans";
  color: #45593c;
}

.herotextone {
  text-align: left;
}

.herotexttwo {
  text-align: right;
}

.work-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 0;
}

.btn-primary {
  background-color: #45593c;
  border-color: #45593c;
}

.btn-primary:hover {
  background-color: #a4a66f;
  border-color: #a4a66f;
  color: #45593c;
}

.header {
  padding-top: 3rem;
  padding-bottom: 15rem;
}

.aboutmeimage {
  border-image-width: 1rem;
}

h2 {
  font-weight: 900;
  color: #45593c;
  font-family: "Josefin Sans";
}

h4 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 80px;
  color: #45593c;
}

h5 {
  padding-bottom: 2rem;
  font-family: "Josefin Sans";
  font-size: small;
  font-weight: 350;
  font-size: 30px;
  color: #45593c;
}

h6 {
  font-size: 18px;
  font-family: "Josefin Sans";
  color: #45593c;
}

p {
  font-family: "Josefin Sans";
  font-weight: 300;
}

h7 {
  font-family: "Josefin Sans";
  font-size: 25px;
  font-weight: 300;
  color: #45593c;
}

h8 {
  font-family: "Josefin Sans";
  font-size: 23px;
  font-weight: 300;
  color: #45593c;
}

.modal-body img {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  aspect-ratio: 14/7;
  object-fit: cover;
  padding-top: 8rem;
}

.carousel-control-prev-icon {
  size: 4px;
  align-items: center;
}

.carousel-control-next-icon {
  size: 4px;
  align-items: center;
}

footer {
  background-color: #a6567b;
  color: white;
  padding: 2rem;
}

footer h3 {
  color: white;
  text-align: center;
  font-family: "Josefin Sans";
}

footer p {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Josefin Sans";
}

footer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--green-highlight);
  margin-right: 0.5m;
}

footer div.social-links {
  text-align: center;
}

.about-photo {
  width: 90%;
  padding-top: 1rem;
}

.imagecarousel {
  position: relative;
  height: 400px;
  margin-bottom: 30px;
  display: flex;
  width: fit-content;
  gap: 20px;
}

.imagecarousel img {
  margin: 0px 0px;
  box-shadow: 2px 2px 8px #8a8a8a;
}

.imagecarousel {
  animation: bannermove 50s linear infinite;
}

@keyframes bannermove {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
