/*fonts*/

@import url("https://fonts.googleapis.com/css2?family=Chango&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar {
  background-color: #a6567b;
}

/* Hero Section */
.hero-section {
  background: url(../images/herophoto.webp);
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.hero-section h1 {
  font-weight: 700;
  font-family: "Chango";
  color: #a6567b;
}

.hero-section .lead {
  font-size: 2rem;
  font-weight: 500;
  font-family: "Josefin Sans";
  color: #45593c;
}

.work-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 0;
}

h2 {
  font-weight: 900;
  color: #333;
  font-family: "Josefin Sans";
}

h4 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 80px;
}

h5 {
  padding-bottom: 6rem;
  font-family: "Josefin Sans";
  font-size: small;
  font-weight: 350;
  font-size: 30px;
}

h6 {
  font-size: 18px;
  font-family: "Josefin Sans";
}

p {
  font-family: "Josefin Sans";
  font-weight: 300;
}

h7 {
  font-family: "Josefin Sans";
  font-size: 25px;
  font-weight: 300;
}

.modal-body img {
  width: 100%;
}

.carousel-inner img {
  width: 100%;
  aspect-ratio: 14/7;
  object-fit: cover;
  padding-top: 8rem;
}

.carousel-control-prev-icon {
  size: 4px;
  align-items: center;
}

.carousel-control-next-icon {
  size: 4px;
  align-items: center;
}

footer {
  background-color: #a6567b;
  color: white;
  padding: 2rem;
}

footer h3 {
  color: white;
  text-align: center;
  font-family: "Josefin Sans";
}

footer p {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
  font-family: "Josefin Sans";
}

footer img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--green-highlight);
  margin-right: 0.5m;
}

footer div.social-links {
  text-align: center;
}
